# dependencies
node_modules/
.pnp
.pnp.*

# next
.next/
out/
next-env.d.ts

# production
build/
dist/

# local database (PGlite)
.data/

# generated widget bundle
public/widget.js
public/widget.js.map

# env
.env
.env.local
.env*.local

# testing
coverage/

# misc
.DS_Store
*.pem
.vercel
.turbo
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.screenshots/
.env*
